.api-table-container {
  overflow-x: auto;
  margin-bottom: 50px;
}

.api-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px; /* Creates separation between thead and tbody */
  background-color: transparent;
  color: white;
  margin-top: 20px;
}

.api-table thead {
  background-color: transparent; /* No background for thead */
}

.api-table thead th {
  text-align: left;
  padding: 12px 15px;
  position: relative; /* Needed for the pseudo-element */
}

/* Using a pseudo-element to create the header bottom border */
.api-table thead th::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px; /* Aligns the border with the bottom of the thead */
  width: 100%;
  height: 1px; /* Border thickness */
  background-color: #333; /* Border color */
}

.api-table tbody tr {
  background-color: #252c3a;
  margin: 3px 0; /* Margin for each row */
  border-radius: 4px; /* Optional: adds rounded corners to each row */
}

.api-table tbody td {
  text-align: left;
  padding: 12px 15px;
  background-color: #252c3a; /* Background for tbody cells */
}

/* Additional styling for hover effect and other elements */
.api-table tbody tr:hover {
  background-color: #1e242f;
}

  
  .security-critical {
    color: #e74a3b;
  }
  
  .security-high {
    color: #f6c23e;
  }
  
  .security-medium {
    color: #f8f9fc;
  }
  
  .security-low {
    color: #4e73df;
  }
  
  /* Additional styling for other elements... */
  
  /* Style for 'New' label */
  .api-table td :is(.new-label) {
    background-color: #1cc88a; /* Color for new items */
    border-radius: 10px;
    padding: 3px 6px;
    color: white;
    font-weight: bold;
  }
  
  /* Style for 'Labels' */
  .api-table td :is(.label-no-auth) {
    background-color: #e74a3b; /* Color for no authentication label */
    border-radius: 10px;
    padding: 3px 6px;
    color: white;
    font-weight: bold;
  }
  
  /* Add responsive styles if necessary */
  