.settings-page {
    background-color: #0e1724;
    color: white;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif; /* Use Google Fonts as needed */
}

.settings-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 60px;
}

.settings-left {
    width: 33%;
    padding: 20px
}

.settings-right{
    padding: 20px;
    width: 67%;
}

.user-info {
    margin: 20px 0px;
    width: 100%;
    border-radius: 20px;
    background-color: #121e2d;
    position: relative;
    padding: 15px
}

.edit-button-user {
    position: absolute;
    top: 15px;
    right: 25px;
    background: #496c8b;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 15px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.payment-button {
    background: #113a11;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 15px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.subscription {
    margin: 20px 0px;
    width: 100%;
    border-radius: 20px;
    background-color: #121e2d;
    position: relative;
    padding: 15px
}

.amazon {
    margin: 20px 0px;
    width: 100%;
    border-radius: 20px;
    background-color: #121e2d;
    position: relative;
    padding: 15px
}

.api-key {
    margin: 20px 0px;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    position: relative;
    color: #0e1724;
    padding: 15px
}

.api-input {
    border: 1px solid #8cbac1;
    background: transparent;
    transition: 0.4s;
    border-radius: 10px;
    width: 100%;
}

.main-container {
    margin: 20px 0px;
    width: 100%;
    border-radius: 20px;
    background-color: #121e2d;
    position: relative;
    padding: 15px
}

.radio-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.radio-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px
}

.container-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.settings-input {
    border: 1px solid #8cbac1;
    background: transparent;
    transition: 0.4s;
    border-radius: 10px;
    width: 200px;
    padding-left: 10px;
}

hr {
    color: #7e7e7f;
}